@charset 'utf-8';

p { font-size: 3.4722vw; }
h1 { font-size: 6.4722vw; }
h2 { font-size: 5.5833vw; }
h3 { font-size: 4.8889vw;}

button {
  width: 50%;
  height: 30%;
  font-size: 3.0417vw;
  border-radius: 3.0833vw;
}

body {
  overflow-x: hidden;
}

/* header */
header {
  position: fixed;
  height: 70px;
  align-items: center;
}

header nav ul {
  position: absolute;
  top: 80px;
  right: 5%;
}
/* // header */
/* wrap01 */
main .wrap01 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .wrap01 .wrap01_content {
  position: absolute;
  bottom: 0;
  left: 30%;
  z-index: 1;
}

main .wrap01 img {
  opacity: 0.5;
  width: 60vw;
}
/* // warp01 */
/* wrap02 */
main .wrap02 {
  display: flex;
  flex-direction: column;
}

main .wrap02 img {
  max-width: 500px;
  width: 60%;
}

main .wrap02 .wrap02_content {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .wrap02 .wrap02_content .intro {
  width: 80%;
}

main .wrap02 .wrap02_content .intro ul li {
  font-size: 3.9722vw;
  line-height: 4.5972vw;
  position: relative;
  left: 0.9722vw;
}

main .wrap02 .wrap02_content .intro ul li:first-child {
  margin-bottom: 1.9722vw;
}
/* // wrap02 */
/* wrap03 */
main .wrap03 .wrap03_content ul li h3 {
  font-size: 2.8889vw;
}
/* // wrap03 */
/* wrap04 */
main .wrap04 .wrap04_content .main_site .main_content h3 {
  font-size: 6.0722vw;
}

main .wrap04 .wrap04_content .main_site .main_content p {
  font-size: 3.9722vw;
  margin-top: 5%;
}

main .wrap04 .wrap04_content .sub_site {
  /* height: 550px; */
}

main .wrap04 .wrap04_content .sub_site .site_card {
  height: 40vw;
}

main .wrap04 .wrap04_content .sub_site .site_card:nth-child(2n-1) {
  margin-right: 0;
}

main .wrap04 .wrap04_content .sub_site .site_card:nth-child(2n) {
  margin-left: 0;
}

main .wrap04 .wrap04_content .sub_site .site_card button {
  position: absolute;
  bottom: 0;
}

main .wrap04 .wrap04_content .sub_site .site_card {
  box-shadow: none;
  padding: 1.3889vw;
}

main .wrap04 .wrap04_content .sub_site .site_card p {
  font-size: 2.9722vw;
}
/* // wrap04 */
/* wrap05 */
main .wrap05 .wrap05_content .skill {
  width: 90%;
  border-radius: 1.3889vw;
}

main .wrap05 .wrap05_content .skill .imgBx {
  width: 100%;
  height: 33.8889vw;
  max-height: 200px;
  overflow: hidden;
  border: 0;
  border-radius: 1.3889vw;
  transition: 0.5s;
}

main .wrap05 .wrap05_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  flex-wrap: none;
  align-items: center;
}
/* // wrap05 */
/* popup */
.popup .popup_inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popup .popup_inner .popup_content {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.6944vw 0;
  overflow: auto;
  overflow-x: hidden;
}

.popup .popup_inner .popup_content .inner {
  margin-bottom: 2.4444vw;
  min-height: 80px;
}

.popup .popup_inner .inner03 ul li {
  list-style: disc;
  position: relative;
  left: 3.4722vw;
}

.popup img {
  width: 100%;
  max-width: 100%;
  height: 40%;
  margin-right: 100px;
  object-fit: cover;
}

.popup img {
  margin-right: 6.9444vw;
}

.popup .popup_inner .popup_content p {
  font-size: 3.4722vw;
}

.popup .popup_inner .popup_content ul li {
  font-size: 3.4722vw;
  color: #666;
}

.popup .popup_btn {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  height: 20%;
}

.popup .popup_btn button {
  width: 95%;
  height: 40%;
  margin: 1.0833vw 2.0833vw;
}
/* // popup */