@charset 'utf-8';

.pc_only { display: none; }
p { font-size: 2.4722vw; color: #666; }
h1 { font-size: 5.4722vw; }
h2 { font-size: 3.5833vw; }
h3 { font-size: 2.8889vw; }
.img_shadow {
  border: 0.6944vw solid #fff;
  border-bottom: 2.7778vw solid #fff;
  box-shadow: 0.6944vw 0.6944vw 1.3889vw #666;
}
button {
  width: 33%;
  height: 30%;
  font-size: 2.0417vw;
  border-radius: 2.0833vw;
}
.off { visibility: hidden; opacity: 0; }
.on { visibility: visible; opacity: 1;}
.hide { display: none; }
.no_hide { display: block; }
/* header */
header {
  position: fixed;
  height: 80px;
  align-items: center;
}

header.sticky {
  width: 100vw;
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
}

header .logo {
  font-size: 30px;
  margin: auto;
}

header nav ul {
  background-color: #7ad5ff;
  width: 50.8333vw;
  height: 50.8333vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 5%;
  border: 1px solid #fff;
  border-radius: 1.3889vw;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
}

header nav ul li {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
}

header nav ul li a {
  font-size: 3.3889vw;  
  letter-spacing: 0.1389vw;
  line-height: 15vw;
}

header.sticky nav ul li a {
  font-size: 3.3889vw;
  color: #fff;
}

header nav ul li:hover a {
  font-size: 3.3889vw;
  color: #fe3f40;
}

header .toggle {
  width: 25px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  opacity: 1;
}

header .toggle.toggle_off {
  display: block;
}

header .toggle.toggle_on {
  display: none;
}

header.sticky .toggle {
  color: #7ad5ff;
}

/* // header */

/* main */
/* section top margin */
main > section {
  margin-top: 30vh;
  padding: 0 6.9444vw;
}
/* // section top margin */
/* wrap01 */
main .wrap01 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .wrap01 .wrap01_content {
  width: 40.7778vw;
  letter-spacing: 0.3472vw;
}
/* // warp01 */
/* wrap02 */
main .wrap02 {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #7ad5ff;
}

main .wrap02 {
  display: flex;
  flex-direction: column;
}

main .wrap02 img {
  margin-right: 0;
}

main .wrap02 .wrap02_content {
  width: 100vw;
  height: 100%;
  margin-top: 5%;
}

main .wrap02 .wrap02_content .intro {
  width: 40%;
  margin: 3.3889vw;
}

main .wrap02 .wrap02_content .intro h3 {
  color: #fff;
  margin-bottom: 1.6944vw;
}

main .wrap02 .wrap02_content .intro ul li {
  font-size: 1.9722vw;
  line-height: 3.5972vw;
  position: relative;
  left: 0.9722vw;
}
/* // wrap02 */
/* wrap03 */
main .wrap03 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .wrap03 .wrap03_content {
  width: 80%;
}

main .wrap03 .wrap03_content p {
  margin: 1.0417vw 0;
}

main .wrap03 .wrap03_content ul {
  margin-top: 5vw;
}

main .wrap03 .wrap03_content ul li {
  width: 100%;
  height: 6vw;
  padding: 0.6944vw 0;
  margin: 2.6944vw  0;
  position: relative;
}

main .wrap03 .wrap03_content  ul li span {
  font-size: 2.8889vw;
  position: absolute;
  top: 0.5417vw;
  right: 0;
  font-weight: 800;
}

main .wrap03 .wrap03_content  ul li .full_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.6944vw;
  background-color: #b4e4fa;
  border-radius: 0.6944vw;
}

main .wrap03 .wrap03_content  ul li .sub_bar {
  width: 0%;
  height: 0.6944vw;
  position: absolute;
  bottom: 0;
  background-color: #fe3f40;
  border-radius: 0.6944vw;
}

main .wrap03 .wrap03_content  ul li .html_bar {
  width: 90%;
}

main .wrap03 .wrap03_content  ul li .css_bar {
  width: 90%;
}

main .wrap03 .wrap03_content  ul li .js_bar {
  width: 80%;
}
/* // wrap03 */
/* wrap04 */
main .wrap04 .wrap04_content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .wrap04 .wrap04_content .main_site {
  max-width: 700px;
  width: 100%;
  height: 400px;
  position: relative;
  margin-right: 0;
}

main .wrap04 .wrap04_content .main_site img {
  max-width: 700px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.7;
}

main .wrap04 .wrap04_content .main_site .main_content {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: none;
  z-index: 1;
  opacity: 0.7;
}

main .wrap04 .wrap04_content .main_site .main_content h3 {
  font-size: 4.5722vw;
}

main .wrap04 .wrap04_content .main_site .main_content p {
  font-size: 2.4722vw;
  margin-top: 5%;
}

main .wrap04 .wrap04_content .main_site button {
  position: absolute;
  left: 30%;
  width: 40%;
  height: 15%;
  bottom: 6.4722vw;
  z-index: 2;
}

main .wrap04 .wrap04_content .sub_site {
  max-width: 700px;
  width: 100%;
  /* height: 600px; */
  position: relative;
}

main .wrap04 .wrap04_content .sub_site .site_card {
  max-width: 1000px;
  width: 66%;
  height: 25vw;
  padding: 1.3889vw;
  margin-top: 10px;
  position: relative;
  left: 34%;
  border-radius: 20px;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}

main .wrap04 .wrap04_content .sub_site .site_card:nth-child(2n-1) {
  margin-right: 0;
}

main .wrap04 .wrap04_content .sub_site .site_card:nth-child(2n) {
  margin-left: 0;
}

main .wrap04 .wrap04_content .sub_site .site_card p {
  font-size: 2.4722vw;
  margin-top: 10px;
  line-height: 30px;
}

main .wrap04 .wrap04_content .sub_site .site_card img {
  max-width: 250px;
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: -51%;
  border-radius: 20px;
}

main .wrap04 .wrap04_content .sub_site .site_card button {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
/* // wrap04 */
/* wrap05 */
main .wrap05 .wrap05_content .skill {
  width: 40%;
  margin: 5%;
  border-radius: 1.3889vw;
}

main .wrap05 .wrap05_content .skill .imgBx {
  width: 100%;
  height: 23.8889vw;
  max-height: 200px;
  overflow: hidden;
  border: 0;
  border-radius: 1.3889vw;
  transition: 0.5s;
}

main .wrap05 .wrap05_content .skill h3 {
  padding: 0.6944vw;
  transition: 0.5s;
}

main .wrap05 .wrap05_content .skill p {
  padding: 0.3472vw 0.6944vw;
  transition: 0.5s;
}
/* // wrap05 */
/* popup */
.popup .popup_inner {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #fff;
  z-index: 4;
  padding: 4.4722vw;
  border: 2px solid #7ad5ff;
  border-radius: 1.3889vw;
  box-shadow: 0.6944vw 0.6944vw 1.3889vw rgba(0, 0, 0, 0.5);
}

.popup .popup_inner .popup_content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.popup .popup_inner .popup_content p {
  font-size: 2.4722vw;
}

.popup .popup_inner .inner03 ul li {
  list-style: disc;
  position: relative;
  left: 2.4722vw;
}

.popup img {
  width: 30%;
  max-width: 300px;
  height: 60%;
  margin-right: 6.9444vw;
  object-fit: cover;
}

.popup .popup_inner .popup_content ul li {
  font-size: 2.4722vw;
  color: #666;
}

.popup .popup_btn {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 10%;
}

.popup .popup_btn button {
  width: 95%;
  height: 100%;
  margin: 1.0833vw 2.0833vw;
}

/* background click close event */
.popup .close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(255, 255, 255, 0.8);
}
/* // popup */
/* footer */
footer {
  padding: 5.4722vw 6.9444vw;
}
/* // footer */
/* // main */