@charset 'utf-8';

@keyframes loading_screen {
  0% {
    opacity: 0;
    visibility: visible;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loading_animate {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(1.2);
  }

  80%, 100% {
    transform: scale(0);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(370deg);
  }
}

@keyframes loading_event_none {
  0% {
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
  }

  99% {
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
  }

  100% {
    overflow: visible;
    user-select: initial;
    pointer-events: visible;
    overflow: visible;
  }
}

@keyframes loading_main {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  80% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
