@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a, a:active, a:visited {
  color: #252525;
}

html, body {
  overflow: auto;
  overflow-x: hidden;
}